<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head}"></head>

<body>
<form th:method="post" th:action="@{/posts/submitEdit}" th:object="${postToViewLayer}">
    <div class="modal-body">
        <div class="mb-3">
            <input type="hidden" th:field="*{id}" th:value="*{id}">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control form-control-sm" id="title" name="title" th:field="*{title}" th:value="*{title}">
            <br>
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control form-control-sm" id="description" name="description" th:value="*{description}" th:field="*{description}">
            <br>
            <input style="display: none" type="text" class="form-control form-control-sm" id="postImg" name="postImg" th:value="*{img}" th:field="*{img}" readonly>
            <br>
            <label for="category" class="form-label">Change Category:</label>
            <select class="form-select" aria-label="Default select example" name="category" th:field="*{category}" th:value="*{category}" id="category">
                <option selected value="Type">Type</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success text-center">Submit Edit</button>
    </div>
</form>
</body>
</html>