<!DOCTYPE html>
<html lang="en">
<head th:replace="~{partials/head :: head}"></head>
<body>
<div th:replace="~{partials/navbar :: nav}"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="row g-0">
                    <div class="col-5">
                        <img src="profile.jpg" class="img-fluid rounded-start" alt="Profile Image">
                    </div>
                    <div class="col-7">
                        <h5 class="card-title">Username</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2">Title</h6>
                        <p class="card-text">Description</p>
                        <img src="image.jpg" class="img-fluid" alt="Additional Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>