<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{partials/head :: head}"></head>
<body>
<div th:replace="~{partials/navbar-signed-in :: nav}" sec:authorize="isAuthenticated()"></div>
<div th:replace="~{partials/navbar-signed-out :: nav}" sec:authorize="isAnonymous()"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="row g-0">
                    <div class="col-5">
                        <img src="profile.jpg" class="img-fluid rounded-start" alt="Profile Image">
                    </div>
                    <div class="col-7">
                        <h5 class="card-title">Username</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2">Title</h6>
                        <p class="card-text">Description</p>
                        <img src="image.jpg" class="img-fluid" alt="Additional Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}" crossorigin="anonymous"></script>
<script th:inline="javascript">
    const apiKey = [[${fileStackApi}]]; //This key need to place in back-end.

    const uploadBtn = document.getElementById('fileUpload');

    let fileName = $("#fileUploaded").val();

    console.log(fileName);

    uploadBtn.addEventListener('click', function (e){
        e.preventDefault();
        const client = filestack.init(apiKey);
        const options = {
            uploadInBackground: false, // Wait for the upload to finish before triggering onUploadDone
            onFileUploadFinished: (fileFinish) => {
                // console.log('File upload finished:', fileFinish);

                let fileName = fileFinish.filename;
                let fileURL = fileFinish.url;
                console.log(fileName);
                console.log(fileURL);

                document.getElementById("inputURL").value = fileURL;

                let pushFile = '';
                pushFile += "<ul><li>"+ fileName +"</li></ul>"
                $("#fileUploaded").html(pushFile);

            },
            onFileUploadFailed: (file, error) => {
                console.error('File upload failed:', error);
            },
        };
        client.picker(options).open();

    })
</script>
</body>
</html>