<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Single Post</title>
</head>
<body>

<!--Single post page - why a loop vs a single post?-->

    <h1 th:text="${currentPost.getTitle()}"></h1>
    <img th:src="${currentPost.getImg()}" alt="postImg" style="width: 500px; height: 300px">
    <p th:text="${currentPost.getDescription()}"></p>

<hr>
<div>
    <h3>Comments.....</h3>
    <form th:action="@{/comment}" method="post" th:object="${newComment}">
        <input type="hidden" th:field="*{post}" name="postId" th:value="${currentPost.id}">
        <textarea th:field="*{comment}" name="commentText" id="commentText" cols="100" rows="10" placeholder="Enter your comment here..."></textarea>
        <div><button type="submit" class="btn btn-primary text-center">Post Submit</button></div>
    </form>
</div>
</body>
</html>