<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials/posts-header :: head}"></head>
<body>
<div th:replace="~{partials/navbar-signed-in :: nav}" sec:authorize="isAuthenticated()"></div>
<div th:replace="~{partials/navbar-signed-out :: nav}" sec:authorize="isAnonymous()"></div>

<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div>
    <!--  Modal Button  -->
    <button type="button" class="btn btn-secondary btn-sm"
            data-bs-toggle="modal" data-bs-target="#createPostModal">Create Post
    </button>

    <!--  Modal -->
    <div class="modal fade" id="createPostModal" tabindex="-1"
         aria-labelledby="createPostModalLabel" aria-hidden="true">
        <div
                class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPostModalLabel">
                        Create a Post</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/userpost}" th:method="post" th:object="${post}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <input type="hidden" th:field="*{id}">
                            <input type="text" placeholder="Title" name="title" th:field="*{title}" th:value="*{title}">
                            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                            <br>
                            <textarea placeholder="Description" name="description" th:field="*{description}" th:value="*{description}" required></textarea>
                            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                            <br>
                            <select class="form-select" aria-label="Default select example" name="category" th:field="*{category}" th:value="*{category}" required>
                                <option selected value="All" >Please select Type</option>
                                <option value="Dog">Dog</option>
                                <option value="Cat">Cat</option>
                            </select>
                            <br>
                            <button id="fileUpload">Add File</button>
                            <input style="display: none" type="text" id="inputURL" name="img" th:field="*{img}" value="">
                            <div id="fileUploaded"></div>
                        </div>
                    </div>
                    <div class="modal-footer"><button type="submit" class="btn btn-primary text-center">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center align-items-center">
        <div th:each="post : ${posts}" class="col-sm-12 col-md-12 col-lg-12">
            <div class="card mx-auto my-4 bg-boxshadow">
                <div class="card-body">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <img th:src="${post.users.getProfilePic()}" alt="user__image" class="user__image me-2">
                            <div class="user__info">
                                <h5 th:text="${post.users.getUsername()}" class="mb-0"></h5>
                                <small th:text="${post.users.getEmail()}" class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                    <div class="card-img-wrapper">
                        <img th:src="${post.getImg()}" alt="card__image" class="card-img-top">
                    </div>
                    <h4 th:text="${post.getTitle()}" class="card-title"></h4>
                    <p th:text="${post.getDescription()}" class="card-text" style="overflow: auto"></p>
                    <span th:text="${post.getCategory()}" class="tag tag-blue"></span>
                </div>
                <div class="card-footer">
                    <a th:href="@{/visitorsinglepost}" class="btn btn-primary btn-sm">View more details <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script th:src="@{//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js}"></script>
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}" crossorigin="anonymous"></script>
<script th:inline="javascript">
    const apiKey = [[${apiKeyToView}]]; //This key need to place in back-end.

    const uploadBtn = document.getElementById('fileUpload');

    let fileName = $("#fileUploaded").val();

    console.log(fileName);

    uploadBtn.addEventListener('click', function (e){
        e.preventDefault();
        const client = filestack.init(apiKey);
        const options = {
            uploadInBackground: false, // Wait for the upload to finish before triggering onUploadDone
            onUploadDone: (fileFinish) => {
                // console.log('File upload finished:', fileFinish);

                console.log(fileFinish);
                let fileName = fileFinish.filesUploaded[0].filename;
                let fileURL = fileFinish.filesUploaded[0].url;
                console.log(fileName);
                console.log(fileURL);

                document.getElementById("inputURL").value = fileURL;

                let pushFile = '';
                pushFile += "<ul><li>"+ fileName +"</li></ul>"
                $("#fileUploaded").html(pushFile);

            },
            onFileUploadFailed: (file, error) => {
                console.error('File upload failed:', error);
            },
        };
        client.picker(options).open();

    })
</script>
</body>
</html>