<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head.html :: head"></head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">
            <img src="/img/pawesome-logo-2.png" class="navbar-logo" alt="Pawesome Adoptions Logo">
        </a>
        <a class="navbar-brand font-roboto"th:href="@{/home}">Pawesome Adoptions</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                <li class="nav-item">
                    <a class="nav-link active hvr-underline-from-left font-roboto" aria-current="page" href="#" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active hvr-underline-from-left font-roboto" aria-current="page" href="#" th:href="@{/about}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active hvr-underline-from-left font-roboto" aria-current="page" href="#" th:href="@{/adopt}">Adopt a Pet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active hvr-underline-from-left font-roboto" aria-current="page" href="#" th:href="@{/userpost}">Adoption Stories</a>
                </li>
            </ul>
            <div  id="navbar-buttons" class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex-inline">
                <div class="nav-item text-center">
                    <div class="text-center me-1">
                        <a class="text-center" aria-current="page" th:href="@{/profile}"><img src="/img/icons/user.png" class="profile-icon" alt="Profile Icon"></a>
                        <a th:href="@{/profile}" class="nav-link active hvr-underline-from-left text-decoration-none font-roboto text-center">Profile</a>
                    </div>
                </div>
                <div class="nav-item text-center">
                    <form id="logoutForm" th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-default mt-2 font-roboto">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>


















<!--<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" th:href="@{/home}">-->
<!--            <img src="/img/pawesome-logo-2.png" class="navbar-logo" alt="Pawesome Adoptions Logo">-->
<!--        </a>-->
<!--        <a class="navbar-brand font-roboto" th:href="@{/home}">Pawesome Adoptions</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active hvr-underline-from-left font-roboto" aria-current="page" th:href="@{/home}">Home</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active hvr-underline-from-left font-roboto" aria-current="page" th:href="@{/about}">About Us</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active hvr-underline-from-left font-roboto" aria-current="page" th:href="@{/adopt}">Adopt a Pet</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active hvr-underline-from-left font-roboto" aria-current="page" th:href="@{/userpost}">Adoption Stories</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <div class="d-flex justify-content-end">-->
<!--            <div class="nav-item">-->
<!--                <div class="d-flex-inline justify-content-center me-3">-->
<!--                <a class="ms-2" aria-current="page" th:href="@{/profile}"><img src="/img/icons/user.png" class="profile-icon" alt="Profile Icon"></a>-->
<!--                <a th:href="@{/profile}" class="nav-link active hvr-underline-from-left text-decoration-none font-roboto">Profile</a>-->
<!--            </div>-->
<!--            </div>-->
<!--            <form id="logoutForm" th:action="@{/logout}" method="post">-->
<!--                <button type="submit" class="btn btn-default mt-2 font-roboto">Logout</button>-->
<!--            </form>-->
<!--        </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script th:src="@{/js/password.js}"></script>
</body>
</html>