<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Login Form</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:if="${param.error}">
  Invalid Username and Password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>

<form th:action="@{/login}" th:method="post">
  <div class='bold-line'></div>
  <div class='container'>
    <div class='window'>
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'>Welcome</div>
        <div class="subtitle">Pawsome Adoption</div>
        <div class='input-fields'>
          <input type='text' placeholder='username' name="username" class='input-line full-width'></input><br>
          <input type='password' placeholder='Password' name="password" class='input-line full-width'></input>
        </div>
        <div><button type="submit" value="Log In" class='ghost-round full-width'>Log In</button></div>
      </div>
    </div>
  </div>
</form>
</body>
</html>