<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head  th:replace="~{partials/head :: head}">
</head>
<body>
<div th:replace="~{partials/navbar-signed-in :: nav}" sec:authorize="isAuthenticated()"></div>
<div th:replace="~{partials/navbar-signed-out :: nav}" sec:authorize="isAnonymous()"></div>
<h1>Enter username to reset password</h1>
<form action="#" th:action="@{/resetpassword}" th:object="${user}" method="post">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" class="form-control" th:field="*{username}" />
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </div>
</form>
</body>
</html>
