<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head  th:replace="~{partials/head :: head}"></head>
<body>
<div th:replace="~{partials/navbar-signed-in :: nav}" sec:authorize="isAuthenticated()"></div>
<div th:replace="~{partials/navbar-signed-out :: nav}" sec:authorize="isAnonymous()"></div>

<div class="container">
    <div class="row justify-content-center align-items-center m-5">
        <div class="col-md-6 card adopt-a-pet-bg p-4">
            <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                <div>
                    <div class="mb-3">
                        <label for="username" class="form-label font-roboto">Username</label>
                        <input type="text" class="form-control form-control-sm" id="username" placeholder="Enter your username" name="username" th:field="*{username}" required>
                        <div class="invalid-feedback">Please enter a username.</div>
                        <p class="text-danger font-robotor" th:if="${usernameError}" th:text="${usernameError}"></p>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label font-roboto">Email address</label>
                        <input type="email" class="form-control form-control-sm" id="email" placeholder="Enter your email" name="email" th:field="*{email}" required>
                        <div class="invalid-feedback">Please enter a valid email address.</div>
                        <p class="text-danger font-roboto" th:if="${emailError}" th:text="${emailError}"></p>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label font-roboto">Password</label>
                        <input type="password" class="form-control form-control-sm" id="password" placeholder="Enter your password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$" th:field="*{password}" required>
                        <div class="password-indicators">
                            <p id="eight-character" class="error-text"><span class="check-icon">&#10003;</span> 8 character min</p>
                            <p id="uppercase" class="error-text"><span class="check-icon">&#10003;</span> A capital (uppercase) letter</p>
                            <p id="lowercase" class="error-text"><span class="check-icon">&#10003;</span> A lowercase letter</p>
                            <p id="number" class="error-text"><span class="check-icon">&#10003;</span> A number</p>
                        </div>
                            <button type="button" id="fileUpload" class="m-5">Add File</button>
                            <input style="display: none" type="text" id="inputURL" name="img" th:field="*{profilePic}" value="">
                            <div id="fileUploaded">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>

<script th:src="@{//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js}"></script>
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}" crossorigin="anonymous"></script>
<script th:inline="javascript">

    const apiKey = [[${apiKeyToView}]]; //This key need to place in back-end.

    const uploadBtn = document.getElementById('fileUpload');

    let fileName = $("#fileUploaded").val();

    console.log(fileName);

    uploadBtn.addEventListener('click', function (e){
        e.preventDefault();
        const client = filestack.init(apiKey);
        const options = {
            uploadInBackground: false, // Wait for the upload to finish before triggering onUploadDone
            onUploadDone: (fileFinish) => {
                // console.log('File upload finished:', fileFinish);

                console.log(fileFinish);
                let fileName = fileFinish.filesUploaded[0].filename;
                let fileURL = fileFinish.filesUploaded[0].url;
                console.log(fileName);
                console.log(fileURL);
                document.getElementById("inputURL").value = fileURL;

                let pushFile = '';
                pushFile += "<ul><li>"+ fileName +"</li></ul>"
                $("#fileUploaded").html(pushFile);

            },
            onFileUploadFailed: (file, error) => {
                console.error('File upload failed:', error);
            },
        };
        client.picker(options).open();

    })
</script>
<script src="/js/password.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>