<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{partials/head :: head}">
    <meta charset="UTF-8"/>
    <title>Oops, Internal Server Error</title>
    <title>500 pages</title>
</head>
<body>
<div th:replace="~{partials/navbar-signed-in :: nav}" sec:authorize="isAuthenticated()"></div>
<div th:replace="~{partials/navbar-signed-out :: nav}" sec:authorize="isAnonymous()"></div>

<h1 class="font-roboto mt-3">Internal Server Error!</h1>

<p class="font-roboto-serif mt-3">Dog(s) below (:</p>

<!-- RANDOM DOG IMAGE -->
<img id="dog-image" alt="Random Dog Image"/>

<!-- JavaScript code to fetch random dog image -->
<script>
    fetch('https://random.dog/woof.json')
        .then(response => response.json())
        .then(data => {
            const imageUrl = data.url;
            const dogImageElement = document.getElementById('dog-image');
            dogImageElement.src = imageUrl;
        })
        .catch(error => {
            console.error('Error fetching dog image:', error);
        });
</script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>