.img-dogs-api {
    width:  295px;
    height: 295px;
    object-fit: cover;
}

body{
    background-color: #9ea2c2;
}

.light-beige-bg {
    background-color: #efeae1 !important;
}

.bg-boxshadow{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(45, 45, 45, 0.50);
    -moz-box-shadow: 10px 10px 5px 0px rgba(45, 45, 45, 0.25);
    box-shadow: 10px 10px 5px 0px rgba(45, 45, 45, 0.50);
    border-radius: 10px;
}

.faqs{
    text-align: center;
}

.icon-small{
    width: 30px;
    height: 30px;
}
/* Media query for tablets and larger screens */
@media (min-width: 768px) {
    /*carousel image in landing page/home*/
    .carousel-item img {
        height: 100%;
        object-fit: cover;
    }

    .container-purple{
        background-color: #85718c;
        margin: 15%;
        border-radius: 10px;
    }

    .about-us-margin{
        padding: 2%;
    }

}


/*Hover.css color change*/
.hvr-underline-from-left:before{
    background-color: #62466b!important; /* Change the background color on hover */
}

.loading-gif {
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
}

.navbar-logo{
    width: 60px; /* Adjust the width as needed */
    height: 54px; /* Adjust the height as needed */
}

.navbar{
    background-color: #efeae1 !important;
}

/*font*/
.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.font-roboto-serif{
    font-family: 'Roboto Serif', serif;
}

p {
    line-height: 1.5;
    letter-spacing: 1px;
}

.shadow-drop-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}





