.password-indicators {
    margin-top: 5px;
}

.password-indicators p {
    color: initial;
    margin: 0;
    font-size: 12px;
}

.password-indicators p.green {
    color: green;
}

.border-box{

    border: red 2px solid;
}

.border-pink{
    border: solid 2px green;
}
