body{
    background-color: #9ea2c2 !important;
    margin: 0;
}

.img-dogs-api {
    width:  295px;
    height: 295px;
    object-fit: cover;
}

.loading-gif {
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
}

@media (min-width: 1600px) {
    .col-xxl-screens{
        flex: 0 0 25%;
        max-width: 25rem;
    }

}

.adopt-a-pet-bg{
    background-color: #efeae1;
    margin: 10%;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 62px 1px rgba(110,108,110,1);
    -moz-box-shadow: 10px 10px 62px 1px rgba(110,108,110,1);
    box-shadow: 10px 10px 62px 1px rgba(110,108,110,1);
}

.bg-petcards{
    background-color: #efeae1;
}

.single-card-header{
    background-color: #62466b;
    color: #efeae1;
}

.btn-default{
    background-color: #62466b;
    color: #FFF;
    font-family: Roboto, sans-serif;
}
.btn-default:hover{
    background-color: #62466b;
    color: #FFF;
    border: 1px solid #efeae1;
    font-family: "Roboto", sans-serif;
}

h5.card-title{
    font-family: "Roboto", sans-serif;
}

li.list-group-item{
    font-family: "Roboto", sans-serif;
}
