body{
    background-color: #9ea2c2 !important;
}

.img-dogs-api {
    width:  295px;
    height: 295px;
    object-fit: cover;
}

.loading-gif {
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
}

@media (min-width: 1600px) {
    .col-xxl-screens{
        flex: 0 0 25%;
        max-width: 25rem;
    }

}
