body{
    background-color: #62466b;
    /*background-image: url("../img/adoption-stories.svg");*/
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-wrapper {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.user__image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.user__image {
    width: 60px;
    border-radius: 50%;
}

.icon-small{
    width: 30px;
    height: 30px;
}

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

/*tags*/
.tag + .tag {
    margin-left: .5em;
}

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}

/*user*/
.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
    object-fit: cover;
    margin: 0.5rem;
}

@media (max-width: 767px) {
    .user__image {
        width: 40px; /* Adjust the desired width for smaller screens */
        height: 40px; /* Adjust the desired height for smaller screens */
    }
}

@media (min-width: 768px) {
    .user__image {
        width: 75px; /* Adjust the desired width for larger screens */
        height: 75px; /* Adjust the desired height for larger screens */
    }
}


@media (min-width: 320px) and (max-width: 375.99px) {
    .card {
        width: 18rem !important;
    }

    .card-size-comment{
        width: 13rem !important;
    }
}

@media (min-width: 376.99px) and (max-width: 425.99px) {
    .card {
        width: 20rem !important;
    }

    .card-size-comment{
        width: 15rem !important;
    }
}

@media (min-width: 426.99px) and (max-width: 767.99px) {
    .card {
        width: 27rem !important;
        max-height: none !important;
    }

    .card-size-comment{
        width: 22rem !important;
        max-height: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .card {
        max-width: 30rem !important;
        max-height: none !important;
    }
}

@media (min-width: 992px) {
    .card {
        max-width: 40rem !important;
        max-height: none !important;
    }
}


/**/


