<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head}"><title>test</title></head>

<body>
<div th:replace="~{partials/navbar :: nav}"></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="text-center">Welcome to Adopt a Pet!</h1>
            <h3 class="text-center">Where you can browse through adorable pets in need of a loving home!</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form id="petSearch">
                <input type="text" id="search-bar" placeholder="Enter postal code" required value="78234">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by Animal type
                </button>
                <ul class="dropdown-menu" aria-labelledby="Animal Type" id="type">
                    <li><a class="dropdown-item" href="#" data-type="dog">Dog</a></li>
                    <li><a class="dropdown-item" href="#" data-type="cat">Cat</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by Gender
                </button>
                <ul class="dropdown-menu" aria-labelledby="Gender Type" id="gender-type">
                    <li><a class="dropdown-item" href="#" data-gender="female">Female</a></li>
                    <li><a class="dropdown-item" href="#" data-gender="male">Male</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by Age
                </button>
                <ul class="dropdown-menu" aria-labelledby="Age Type" id="age-type">
                    <li><a class="dropdown-item" href="#" data-age="baby">baby</a></li>
                    <li><a class="dropdown-item" href="#" data-age="young">young</a></li>
                    <li><a class="dropdown-item" href="#" data-age="adult">adult</a></li>
                    <li><a class="dropdown-item" href="#" data-age="senior">senior</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="animalContainer" class="row mt-5"></div>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script th:src="@{js/pet-api.js}"></script>


</body>
</html>