<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{partials/head :: head}">
    <title>Adopt a Pet</title>
</head>

<body>
<div th:replace="~{partials/navbar-signed-in :: nav}" sec:authorize="isAuthenticated()"></div>
<div th:replace="~{partials/navbar-signed-out :: nav}" sec:authorize="isAnonymous()"></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="text-center">Welcome to Adopt a Pet!</h1>
            <h3 class="text-center">Where you can browse through adorable pets in need of a loving home!</h3>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form id="petSearch">
                <div class="input-group">
                    <input type="text" id="search-bar" placeholder="Enter location (e.g., zipcode...)" class="form-control" required>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
            <div class="dropdown-container">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle custom-dropdown-btn" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter by Animal Type
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="Animal Type" id="type">
                        <li><a class="dropdown-item" href="#" data-type="dog">Dog</a></li>
                        <li><a class="dropdown-item" href="#" data-type="cat">Cat</a></li>
                    </ul>
                </div>
            </div>
            <div class="dropdown-container">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle custom-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter by Gender
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="Gender Type" id="gender-type">
                        <li><a class="dropdown-item" href="#" data-gender="female">Female</a></li>
                        <li><a class="dropdown-item" href="#" data-gender="male">Male</a></li>
                    </ul>
                </div>
            </div>
            <div class="dropdown-container">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle custom-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter by Age
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="Age Type" id="age-type">
                        <li><a class="dropdown-item" href="#" data-age="baby">Baby</a></li>
                        <li><a class="dropdown-item" href="#" data-age="young">Young</a></li>
                        <li><a class="dropdown-item" href="#" data-age="adult">Adult</a></li>
                        <li><a class="dropdown-item" href="#" data-age="senior">Senior</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="animalContainer" class="row mx-auto mt-5"></div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modalImage" class="img-fluid" alt="Animal Image">
                <p id="modalDescription"></p>
            </div>
        </div>
    </div>
</div>

<div id="pagination"></div>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script th:src="@{js/pet-api.js}"></script>


</body>
</html>