<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/head.html :: head">
<body>
<div th:replace="partials/navbar :: nav"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="row g-0">
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2">Id</h5>
                        <img src="image.jpg" class="img-fluid" alt="Additional Image">
                        <h6 class="card-subtitle mb-2">Title</h6>
                        <p class="card-text">Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>