<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{partials/about-us-header :: head}">
</head>
<body>
<div th:replace="~{partials/navbar-signed-in :: nav}" sec:authorize="isAuthenticated()"></div>
<div th:replace="~{partials/navbar-signed-out :: nav}" sec:authorize="isAnonymous()"></div>
<div class="container marketing mt-5">
    <div class="row featurette">
        <div class="col-md-7">
            <h1 class="featurette-heading fw-normal lh-1 display-3 font-roboto">Meet the team</h1>
            <hr class="featurette-divider">
            <p class="lead font-roboto">Welcome to Pawesome Adoption! We're a passionate team of web developers dedicated to finding loving homes for pets in need. Our mission is to promote adoption and connect users with their perfect furry companions.</p>
            <p class="lead font-roboto">Through heartwarming adoption stories, we inspire a community of animal lovers to embark on their own journeys of finding love with a new pet. Together, we can make a difference and create a brighter future for animals in need. Join us on this fulfilling adventure!.</p>
        </div>
        <div class="col-md-5">
            <video class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" controls>
                <source src="/video/pexels-sam-lion-5729496-2160x3840-24fps.mp4" type="video/mp4"></video>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="d-flex flex-wrap justify-content-evenly m-5 ">
                <!--   CARD   Daniela -->
            <div class="card mb-3 about-us-card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/newimgofme.png" class="img-fluid rounded-star" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Daniela Picon Salas</h5>
                            <p class="card-text">Hello! I’m a full stack web developer with an associates degree in computer science. I am a believer in continuously learning and always being a dedicated and reliable teammate. I take pride in my work and producing meaningful and beneficial projects.  For me, the satisfaction lies not only in delivering high-quality results but also in making a positive impact through my work.  Working on projects is always exciting but as an animal lover not only did I get to work on something I believe in but I got to enhance my skills.</p>
                        </div>
                        <div class="card-footer">
                            <a href="https://www.linkedin.com/in/daniela-picon-salas/" class="hvr-icon-grow"><img src="/img/icons/linked.png" alt="linkedin icon" class="icon-small hvr-icon"></a>
                            <a href="https://github.com/danielapsalas" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/github.png" alt="github icon" class="icon-small hvr-icon"></a>
                            <a href="https://danielapsalas.github.io/daniela-picon-salas-portfolio/" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/website.png" alt="website icon" class="icon-small hvr-icon"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--   CARD   Jenna -->
            <div class="card mb-3 about-us-card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/jenna-devora.jpeg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Jenna Devora</h5>
                            <p class="card-text">Full-stack web developer and recent Psychology degree graduate with a passion for learning and solving problems. Taking this developer career path has opened a new world of possibilities and challenges that will contribute to the person I will be in the future. I am dedicated, determined, and adaptable; all characteristics I know will be strengthened through my future as a full-stack developer. I am most passionate about the users’ experience; ensuring the intended audience has a smooth interactive experience from an intuitive client interface that actively engages the user. I love challenges and look forward to my future learning experiences.</p>
                        </div>
                        <div class="card-footer">
                            <a href="https://www.linkedin.com/in/jenna-devora/" class="hvr-icon-grow"><img src="/img/icons/linked.png" alt="linkedin icon" class="icon-small hvr-icon"></a>
                            <a href="https://github.com/JenDevo" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/github.png" alt="github icon" class="icon-small hvr-icon"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--   CARD   Minh -->
            <div class="card mb-3 about-us-card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/Profile-Photo.jpeg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Minh Nguyen</h5>
                            <p class="card-text">As a passionate and dedicated web developer, I thrive on the exciting challenges that come with crafting innovative digital experiences. Armed with a meticulous attention to detail and an extensive knowledge of coding languages and frameworks, I have refined my abilities to fashion visually captivating and exceptionally functional websites. I am excited to continue pushing boundaries, embracing new technologies, and delivering exceptional web solutions that leave a lasting impression.</p>
                        </div>
                        <div class="card-footer">
                            <a href="https://www.linkedin.com/in/minh-nguyen-723046263/" class="hvr-icon-grow"><img src="/img/icons/linked.png" alt="linkedin icon" class="icon-small hvr-icon"></a>
                            <a href="https://github.com/minhnguyen8989" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/github.png" alt="github icon" class="icon-small hvr-icon"></a>
                            <a href="https://minhnguyen8989.github.io/myPortfolio/" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/website.png" alt="website icon" class="icon-small hvr-icon"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--   CARD   Oscar -->
            <div class="card mb-3 about-us-card" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/oscar-pic.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Oscar Molina</h5>
                            <p class="card-text">Hello, I went to college and studied Psychology for 2 years. After that I decided to become a software developer. I’ve always had a passion about computers and how applications worked and helped people around the world.  I like the idea of creating something that can help out a lot of people and here we are. With the help of this amazing group we are helping animals find a good owner but above all a place they can feel at home. I believe that we can do a lot off good using our skills and that what I plan to do.</p>
                        </div>
                        <div class="card-footer">
                            <a href="https://www.linkedin.com/in/oscar-molina94/" class="hvr-icon-grow"><img src="/img/icons/linked.png" alt="linkedin icon" class="icon-small hvr-icon"></a>
                            <a href="https://github.com/molina-oscar3328" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/github.png" alt="github icon" class="icon-small hvr-icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>










<!--            <div class="col-sm-12 about-us-card my-3 mx-3">-->
<!--                <img class="bd-placeholder-img rounded-circle my-2" width="140" height="140" src="/img/newimgofme.png" alt="Image Description">-->
<!--                <h2 class="fw-normal">Daniela Picon Salas</h2>-->
<!--                <p>Hello! I’m a full stack web developer with an associates degree in computer science. I am a believer in continuously learning and always being a dedicated and reliable teammate. I take pride in my work and producing meaningful and beneficial projects.  For me, the satisfaction lies not only in delivering high-quality results but also in making a positive impact through my work.  Working on projects is always exciting but as an animal lover not only did I get to work on something I believe in but I got to enhance my skills.</p>-->
<!--                <div class="d-flex justify-content-center mb-2">-->
<!--                    <a href="https://www.linkedin.com/in/daniela-picon-salas/" class="hvr-icon-grow"><img src="/img/icons/linked.png" alt="linkedin icon" class="icon-small hvr-icon"></a>-->
<!--                    <a href="https://github.com/danielapsalas" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/github.png" alt="github icon" class="icon-small hvr-icon"></a>-->
<!--                    <a href="https://danielapsalas.github.io/daniela-picon-salas-portfolio/" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/website.png" alt="website icon" class="icon-small hvr-icon"></a>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
<!--            <div class="col-sm-12 about-us-card my-3 mx-3">-->
<!--                <img class="bd-placeholder-img rounded-circle my-2" width="140" height="140" src="/img/Profile-Photo.jpeg" alt="Image Description">-->
<!--                <h2 class="fw-normal">Minh Nguyen</h2>-->
<!--                <p>As a passionate and dedicated web developer, I thrive on the exciting challenges that come with crafting innovative digital experiences. Armed with a meticulous attention to detail and an extensive knowledge of coding languages and frameworks, I have refined my abilities to fashion visually captivating and exceptionally functional websites. I am excited to continue pushing boundaries, embracing new technologies, and delivering exceptional web solutions that leave a lasting impression.</p>-->
<!--                <div class="d-flex justify-content-center mb-2">-->
<!--                    <a href="https://www.linkedin.com/in/minh-nguyen-723046263/" class="hvr-icon-grow"><img src="/img/icons/linked.png" alt="linkedin icon" class="icon-small hvr-icon"></a>-->
<!--                    <a href="https://github.com/minhnguyen8989" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/github.png" alt="github icon" class="icon-small hvr-icon"></a>-->
<!--                    <a href="https://minhnguyen8989.github.io/myPortfolio/" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/website.png" alt="website icon" class="icon-small hvr-icon"></a>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--            <div class="col-sm-12 about-us-card my-3 mx-3">-->
<!--                <img class="bd-placeholder-img rounded-circle my-2" width="140" height="140" src="/img/jenna-devora.jpeg" alt="Image Description">-->
<!--                <h2 class="fw-normal">Jenna Devora</h2>-->
<!--                <p>Full-stack web developer and recent Psychology degree graduate with a passion for learning and solving problems. Taking this developer career path has opened a new world of possibilities and challenges that will contribute to the person I will be in the future. I am dedicated, determined, and adaptable; all characteristics I know will be strengthened through my future as a full-stack developer. I am most passionate about the users’ experience; ensuring the intended audience has a smooth interactive experience from an intuitive client interface that actively engages the user. I love challenges and look forward to my future learning experiences.</p>-->
<!--                <div class="d-flex justify-content-center mb-2">-->
<!--                    <a href="https://www.linkedin.com/in/jenna-devora/" class="hvr-icon-grow"><img src="/img/icons/linked.png" alt="linkedin icon" class="icon-small hvr-icon"></a>-->
<!--                    <a href="https://github.com/JenDevo" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/github.png" alt="github icon" class="icon-small hvr-icon"></a>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
<!--            <div class="col-sm-12 about-us-card my-3 mx-3">-->
<!--                <img class="bd-placeholder-img rounded-circle my-2" width="140" height="140" src="/img/oscar-pic.jpg" alt="Image Description">-->
<!--                <h2 class="fw-normal">Oscar Molina</h2>-->
<!--                <p>Hello, I went to college and studied Psychology for 2 years. After that I decided to become a software developer. I’ve always had a passion about computers and how applications worked and helped people around the world.  I like the idea of creating something that can help out a lot of people and here we are. With the help of this amazing group we are helping animals find a good owner but above all a place they can feel at home. I believe that we can do a lot off good using our skills and that what I plan to do.</p>-->
<!--                <div class="d-flex justify-content-center mb-2">-->
<!--                    <a href="https://www.linkedin.com/in/oscar-molina94/" class="hvr-icon-grow"><img src="/img/icons/linked.png" alt="linkedin icon" class="icon-small hvr-icon"></a>-->
<!--                    <a href="https://github.com/molina-oscar3328" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/github.png" alt="github icon" class="icon-small hvr-icon"></a>-->
<!--                </div>-->
<!--            </div>&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
<!--        </div>-->
<!--    </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--</div>-->

<footer th:replace="partials/footer :: footer"></footer>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>