<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{partials/about-us-header :: head}">
</head>
<body>
<div th:replace="~{partials/navbar-signed-in :: nav}" sec:authorize="isAuthenticated()"></div>
<div th:replace="~{partials/navbar-signed-out :: nav}" sec:authorize="isAnonymous()"></div>
<div class="container marketing mt-5">
    <div class="row featurette">
        <div class="col-md-7">
            <h1 class="featurette-heading fw-normal lh-1 display-3 font-roboto">Meet the team</h1>
            <hr class="featurette-divider">
            <p class="lead font-roboto">Welcome to Pawesome Adoption! We're a passionate team of web developers dedicated to finding loving homes for pets in need. Our mission is to promote adoption and connect users with their perfect furry companions.</p>
            <p class="lead font-roboto">Through heartwarming adoption stories, we inspire a community of animal lovers to embark on their own journeys of finding love with a new pet. Together, we can make a difference and create a brighter future for animals in need. Join us on this fulfilling adventure!.</p>
        </div>
        <div class="col-md-5">
            <video class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" controls>
                <source src="/video/pexels-sam-lion-5729496-2160x3840-24fps.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row m-4 container-center">
        <div class="col-lg-6">
            <div class="col-sm-12 about-us-box my-3 mx-3">
                <img class="bd-placeholder-img rounded-circle my-2" width="140" height="140" src="/img/dogingrass.jpeg" alt="Image Description">
                <h2 class="fw-normal">Heading</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem deleniti, ex ipsam nobis provident quod tenetur? Doloribus molestiae officia totam ullam voluptate? Accusamus debitis earum error hic nam necessitatibus rem voluptatum? Asperiores deleniti ea illo iure, magni minima nesciunt qui sequi tenetur voluptatum. Delectus est ipsam necessitatibus perferendis veniam?.</p>
                <div class="d-flex justify-content-center mb-2">
                    <a href="https://example.com" class="hvr-icon-grow"><img src="/img/icons/linked.png" alt="linkedin icon" class="icon-small hvr-icon"></a>
                    <a href="https://example.com" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/github.png" alt="github icon" class="icon-small hvr-icon"></a>
                    <a href="https://example.com" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/website.png" alt="website icon" class="icon-small hvr-icon"></a>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-sm-12 about-us-box my-3 mx-3">
                <img class="bd-placeholder-img rounded-circle my-2" width="140" height="140" src="/img/dogingrass.jpeg" alt="Image Description">
                <h2 class="fw-normal">Heading</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem deleniti, ex ipsam nobis provident quod tenetur? Doloribus molestiae officia totam ullam voluptate? Accusamus debitis earum error hic nam necessitatibus rem voluptatum? Asperiores deleniti ea illo iure, magni minima nesciunt qui sequi tenetur voluptatum. Delectus est ipsam necessitatibus perferendis veniam?.</p>
                <div class="d-flex justify-content-center mb-2">
                    <a href="https://example.com" class="hvr-icon-grow"><img src="/img/icons/linked.png" alt="linkedin icon" class="icon-small hvr-icon"></a>
                    <a href="https://example.com" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/github.png" alt="github icon" class="icon-small hvr-icon"></a>
                    <a href="https://example.com" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/website.png" alt="website icon" class="icon-small hvr-icon"></a>
                </div>
            </div><!-- /.col-lg-4 -->
        </div>
        <div class="col-lg-6 bg-boxshadow light-beige-bg">
            <h1 class="display-5 fw-bold lh-1 mb-3 ">About Us</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam architecto autem culpa
                cumque dicta eius exercitationem expedita fugit mollitia optio provident, repud iandae suscipit vero?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias animi at iste, labore magnam nesciunt
                nobis, non nulla odit officia provident quam quisquam veritatis.</p>
        <div class="col-lg-6">
            <div class="col-sm-12 about-us-box my-3 mx-3">
                <img class="bd-placeholder-img rounded-circle my-2" width="140" height="140" src="/img/dogingrass.jpeg" alt="Image Description">
                <h2 class="fw-normal">Heading</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem deleniti, ex ipsam nobis provident quod tenetur? Doloribus molestiae officia totam ullam voluptate? Accusamus debitis earum error hic nam necessitatibus rem voluptatum? Asperiores deleniti ea illo iure, magni minima nesciunt qui sequi tenetur voluptatum. Delectus est ipsam necessitatibus perferendis veniam?.</p>
                <div class="d-flex justify-content-center mb-2">
                    <a href="https://example.com" class="hvr-icon-grow"><img src="/img/icons/linked.png" alt="linkedin icon" class="icon-small hvr-icon"></a>
                    <a href="https://example.com" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/github.png" alt="github icon" class="icon-small hvr-icon"></a>
                    <a href="https://example.com" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/website.png" alt="website icon" class="icon-small hvr-icon"></a>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-sm-12 about-us-box my-3 mx-3">
                <img class="bd-placeholder-img rounded-circle my-2" width="140" height="140" src="/img/dogingrass.jpeg" alt="Image Description">
                <h2 class="fw-normal">Heading</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem deleniti, ex ipsam nobis provident quod tenetur? Doloribus molestiae officia totam ullam voluptate? Accusamus debitis earum error hic nam necessitatibus rem voluptatum? Asperiores deleniti ea illo iure, magni minima nesciunt qui sequi tenetur voluptatum. Delectus est ipsam necessitatibus perferendis veniam?.</p>
                <div class="d-flex justify-content-center mb-2">
                    <a href="https://example.com" class="hvr-icon-grow"><img src="/img/icons/linked.png" alt="linkedin icon" class="icon-small hvr-icon"></a>
                    <a href="https://example.com" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/github.png" alt="github icon" class="icon-small hvr-icon"></a>
                    <a href="https://example.com" class="hvr-icon-grow" style="margin-left: 10px;"><img src="/img/icons/website.png" alt="website icon" class="icon-small hvr-icon"></a>
                </div>
            </div><!-- /.col-lg-4 -->
        </div>
    </div><!-- /.row -->
</div>
</div>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>