<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head"></head>
<body>
<div th:replace="partials/navbar :: nav"></div>
<div id="carouselExampleInterval" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img th:src="@{../img/groupOfDogs.jpg}" class="d-block w-100" alt="..."/>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img th:src="@{../img/groupOfDogs.jpg}" class="d-block w-100" alt="..."/>
        </div>
        <div class="carousel-item">
            <img alt="..." class="d-block w-100" th:src="@{../img/walkingDogs.jpg}"/>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--Adopt a Pet-->
<!-- Show on mobile screens -->
<div class="d-block d-sm-none mb-5">
    <div class="container mx-md-3">
        <div class="card w-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Adopt a Pet</h2>
                <p class="card-text">
                    Welcome to Adopt a Pet at Pawesome Adoptions! Find your perfect furry companion with our
                    user-friendly platform powered by the Petfinder API. Search pets in your area by zipcode and discover
                    playful pups, cuddly kittens, and gentle senior companions. Start your search today!
                </p>
                <a class="btn btn-primary" href="#" role="button">Adopt a Pet</a>
            </div>
        </div>
    </div>
</div>



<!--Adoption Stories-->
<!-- Show on mobile screens -->
<div class="d-block d-sm-none mb-5">
    <div class="container mx-md-3">
        <div class="card w-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title">Adoption Stories</h2>
                <p class="card-text">
                    Welcome to Adoption Stories at Pawesome Adoptions! Share the incredible journey of pet adoption
                    to our community. Whether you've recently adopted or have heartwarming stories, this is the perfect
                    platform to connect. Sign up to engage with others, leave comments, and celebrate the power of adoption.
                    Inspire others to embark on life-changing journeys!
                </p>
                <a class="btn btn-primary" href="#" role="button">Adoption Stories</a>
            </div>
        </div>
    </div>
</div>

<!--Adopt a Pet-->
<!-- Show from tablet size and up -->
<div class="d-none d-sm-flex align-items-center justify-content-center vh-50">
    <div class="card mb-5" style="max-width: 750px;">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title">Adoption a Pet</h2>
                    <p class="card-text">
                        Welcome to Adopt a Pet at Pawesome Adoptions! Find your perfect furry companion with our
                        user-friendly platform powered by the Petfinder API. Search pets in your area by zipcode and discover
                        playful pups, cuddly kittens, and gentle senior companions. Start your search today!
                    </p>
                    <a class="btn btn-primary" href="#" role="button">Adopt a Pet</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Adoption Stories-->
<!-- Show from tablet size and up -->
<div class="d-none d-sm-flex align-items-center justify-content-center">
    <div class="card mb-5" style="max-width: 750px;">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h2 class="card-title">Adoption Stories</h2>
                    <p class="card-text">
                        Welcome to Adoption Stories at Pawesome Adoptions! Share the incredible journey of pet adoption
                        to our community. Whether you've recently adopted or have heartwarming stories, this is the perfect
                        platform to connect. Sign up to engage with others, leave comments, and celebrate the power of adoption.
                        Inspire others to embark on life-changing journeys!
                    </p>
                    <a class="btn btn-primary" href="#" role="button">Adoption Stories</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>